<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ isNew ? 'Nuevo Futbolista' : 'Editar Futbolista' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form *ngIf="document">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="document.data.nombre" name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Equipo</ion-label>
      <ion-input [(ngModel)]="document.data.equipo" name="equipo"></ion-input>
    </ion-item>
    <ion-item *ngIf="imagenSelec">
      <img [src]="imagenSelec" alt="Imagen del Futbolista" style="width: 100%; height: auto;">
    </ion-item>
    <!-- Add other form fields as needed -->
    <ion-button expand="full" (click)="seleccionarImagen()">Seleccionar Imagen</ion-button>
    <ion-button expand="full" (click)="guardarFutbolista()">{{ isNew ? 'Crear' : 'Guardar' }}</ion-button>
    <ion-button expand="full" color="medium" (click)="volver()">Volver</ion-button>
  </form>
</ion-content>
